/*// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


@import "bootstrap-sprockets";
@import "bootstrap";


/* Landing page */


html {
	overflow: hidden;
}
#homescreen {
	background-color: #ccffff;
}

#signup-btn{
	width: 100%;
	background-color: #1da1f2;
	color: white;
	border: none;
	text-align: center;
}

#login-btn-p {
	color: white;
	/*position: absolute;
	left: 24%;
	top: 87%;*/
}

#login-btn a {
	color: #1da1f2;
}
@media only screen and (max-width: 600px) {
	#homescreen{
	  	background: url("./bg_site.JPG") no-repeat center center fixed; 
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	padding-top: 10px;
	}
    #buttons {
	    margin-top: 480px;
	    margin-left: 15%;
	    margin-right: 45%;
	    width: 70%;
	    text-align: center;
	}

	#buttons2 {
	    margin-top: 15px;
	    margin-left: 25%;
	    margin-right: 25%;
	    width: 50%;
	    text-align: center;
	}
}
